#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Application configuration"

module = APP_MAIN
module-str = Application main
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

rsource "src/modules/button/Kconfig.button"
rsource "src/modules/network/Kconfig"
rsource "src/modules/wifi_prov_over_ble/Kconfig.wifi_prov_over_ble"
rsource "src/modules/app_memfault/Kconfig.app_memfault"
rsource "src/modules/app_https_client/Kconfig.app_https_client"
rsource "src/modules/app_mqtt_client/Kconfig.app_mqtt_client"

rsource "src/modules/network/Kconfig.defaults"
rsource "src/modules/wifi_prov_over_ble/Kconfig.defaults"
rsource "src/modules/app_memfault/Kconfig.defaults"
rsource "src/modules/app_https_client/Kconfig.defaults"
rsource "src/modules/app_mqtt_client/Kconfig.defaults"

endmenu

source "Kconfig.zephyr"
