#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
# Default values for app_https_client module symbols.
# Override in prj.conf as needed.
#

config APP_HTTPS_CLIENT_MODULE
	default n

config APP_HTTPS_HOSTNAME
	default "example.com"

config APP_HTTPS_REQUEST_INTERVAL_SEC
	default 300

# HWM 2396 B (TLS/HTTPS) × 1.5 = 3594 → 4096
config APP_HTTPS_CLIENT_STACK_SIZE
	default 4096

config APP_HTTPS_CLIENT_THREAD_PRIORITY
	default 5
