/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&cpuapp_rram {
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0x10000>;
		};

		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x10000 0x1c3000>;
		};

		storage_partition: partition@1d3000 {
			label = "storage";
			reg = <0x1d3000 0x2000>;
		};

		memfault_coredump_partition: partition@1d5000 {
			label = "memfault-coredump-partition";
			reg = <0x1d5000 0x10000>;
		};
	};
};

&mx25r64 {
	status = "okay";
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot1_partition: partition@0 {
			label = "image-1";
			reg = <0x0 0x1c3000>;
		};

		/* 8 KB dedicated partition for Memfault disconnect-time log-state blob */
		mflt_log_state_partition: partition@1c3000 {
			label = "mflt-log-state";
			reg = <0x1c3000 0x2000>;
		};

		/* 8 KB dedicated partition for Memfault disconnect-time CDR (WiFi stats) blob */
		mflt_cdr_state_partition: partition@1c5000 {
			label = "mflt-cdr-state";
			reg = <0x1c5000 0x2000>;
		};
	};
};
