/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		/delete-property/ zephyr,ipc_shm;
	};
};

&flash0 {
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0xa000>;
		};

		slot0_partition: partition@a000 {
			label = "image-0";
			reg = <0xa000 0xe4000>;
		};

		storage_partition: partition@ee000 {
			label = "storage";
			reg = <0xee000 0x2000>;
		};

		memfault_storage: partition@f0000 {
			label = "memfault-storage";
			reg = <0xf0000 0x10000>;
		};
	};
};

&mx25r64 {
	status = "okay";
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot1_partition: partition@0 {
			label = "image-1";
			reg = <0x0 0xe4000>;
		};

		/* 8 KB dedicated partition for Memfault disconnect-time log-state blob */
		mflt_log_state_partition: partition@e4000 {
			label = "mflt-log-state";
			reg = <0xe4000 0x2000>;
		};
	};
};
